<div class="form" *ngIf="!createUsername && !forgotPassword">
  <h1>Log in</h1>

  <p *ngIf="submitMessage.success">{{ submitMessage.success }}</p>
  <p *ngIf="submitMessage.error">{{ submitMessage.error }}</p>

  <form
    novalidate
    [formGroup]="userForm"
    (ngSubmit)="logIn()"
    class="form">

    <mat-form-field class="full-width">
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.email">{{ formErrors.email }}</p>

    <mat-form-field class="full-width">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.password">{{ formErrors.password }}</p>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      name="button"
      [disabled]="!userForm.valid">
      Log in
    </button>
  </form>

  <p>Or</p>

  <app-google-login
    (createUsername)="usernameProvider($event)"
    (submitMessage)="messageProvider($event)">
  </app-google-login>

  <button (click)="forgotPasswordLink()">Forgot password?</button>

  <div>
    <p>Not a member yet?</p>
    <a
      type="button"
      name="button"
      [routerLink]="['../', 'signup']">
      Sign up
    </a>
  </div>
</div>

<app-forgot-password
  *ngIf="forgotPassword"
  (previousStep)="forgotPasswordLink()">
</app-forgot-password>

<app-username *ngIf="createUsername"></app-username>

<mat-progress-spinner
  *ngIf="showLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-spinner>
