<div class="form">
  <h1>Log in</h1>

  <form
    novalidate
    [formGroup]="userForm"
    (ngSubmit)="logIn()"
    class="form">

    <p *ngIf="logInMessage.success">{{ logInMessage.success }}</p>
    <p *ngIf="logInMessage.error">{{ logInMessage.error }}</p>

    <input
      type="email"
      formControlName="email"
      placeholder="Email"
      required>
    <p *ngIf="formErrors.email">{{ formErrors.email }}</p>

    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      required>
    <p *ngIf="formErrors.password">{{ formErrors.password }}</p>

    <button
      type="submit"
      name="button"
      [disabled]="!userForm.valid">
      Log in
    </button>

  </form>

  <button (click)="_authService.googleLogIn()">Continue with Google</button>

  <div>
    <p>Not a member yet?</p>
    <a
      type="button"
      name="button"
      [routerLink]="['../', 'signup']">
      Sign up
    </a>
  </div>

</div>
