<div class="form" *ngIf="!createUsername">
  <h1>Sign up</h1>

  <form
    novalidate
    [formGroup]="userForm"
    (ngSubmit)="signUp()"
    class="form">

    <p *ngIf="signUpMessage.success">{{ signUpMessage.success }}</p>
    <p *ngIf="signUpMessage.error">{{ signUpMessage.error }}</p>

    <mat-form-field class="full-width">
      <input
        matInput
        type="email"
        formControlName="email"ng serve
        placeholder="Email"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.email">{{ formErrors.email }}</p>

    <mat-form-field class="full-width">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.password">{{ formErrors.password }}</p>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      name="button"
      [disabled]="!userForm.valid">
      Sign up
    </button>

  </form>

  <p>Or</p>

  <app-google-login
    (createUsername)='usernameProvider($event)'
    (logInMessage)='messageProvider($event)'>
  </app-google-login>

  <div>
    <p>Already a member?</p>
    <a
      type="button"
      name="button"
      [routerLink]="['../', 'login']">
      Log in
    </a>
  </div>

</div>

<app-username *ngIf="createUsername"></app-username>

