mat-card{
  margin: 20px auto;
  min-width: 200px;
  max-width: 800px;
  width: 100%;
  mat-form-field{
    width: 90%;
  }
  button{
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    border: 1px solid gray;
  }
  mat-radio-button{
    margin-right: 10px;
  }
  .hidden{
    width: 10px;
    opacity: 0;
  }
}
