<div class="form">
  <h1>Create username</h1>

  <form
    novalidate
    [formGroup]="usernameForm"
    (ngSubmit)="createUsername()"
    class="form">

    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="Username"
        required>
      <mat-error class="sm-text is-danger" *ngIf="formErrors.username">
        {{ formErrors.username }}
      </mat-error>
    </mat-form-field>

    <div class="sm-text is-danger" *ngIf="username.errors && username.errors['unavailable']">
      <strong>{{ username.value }}</strong> is already taken
    </div>

    <div class="sm-text is-danger" *ngIf="username.valid">
      <strong>{{ username.value }}</strong> is available!
    </div>

    <div class="sm-text is-danger" *ngIf="username.pending">
      Checking availability... of <strong>{{ username.value }}</strong>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      name="button"
      [disabled]="!usernameForm.valid">
      Sign up
    </button>

  </form>
</div>
