<div class="form">
  <h1>Create username</h1>

  <p class="sm-text is-danger" *ngIf="username.errors && username.errors['unavailable']">
    <strong>{{ username.value }}</strong> is already taken
  </p>

  <p class="sm-text is-danger" *ngIf="username.valid">
    <strong>{{ username.value }}</strong> is available!
  </p>

  <p class="sm-text is-danger" *ngIf="username.pending">
    Checking availability... of <strong>{{ username.value }}</strong>
  </p>

  <form
    novalidate
    [formGroup]="usernameForm"
    (ngSubmit)="createUsername()"
    class="form">

    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="Username"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.username">{{ formErrors.username }}</p>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      name="button"
      [disabled]="!usernameForm.valid">
      Sign up
    </button>

  </form>
</div>

<mat-progress-spinner
  *ngIf="showLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-spinner>
