<div class="form">
  <button mat-icon-button (click)="previousStep.emit();">
    <mat-icon>&#xE314;</mat-icon>
  </button>

  <h1>Reset your password</h1>

  <p *ngIf="submitMessage.success">{{ submitMessage.success }}</p>
  <p *ngIf="submitMessage.error">{{ submitMessage.error }}</p>

  <form
    novalidate
    [formGroup]="emailForm"
    (ngSubmit)="resetPassword()"
    class="form">

    <mat-form-field class="full-width">
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
        required>
    </mat-form-field>
    <p *ngIf="formErrors.email">{{ formErrors.email }}</p>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      name="button"
      [disabled]="!emailForm.valid">
      Reset password
    </button>

  </form>
</div>

<mat-progress-spinner
  *ngIf="showLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-spinner>
